body {
  padding: 5vh;
  margin: 0;
  background-color: green;
  display: flex;

  justify-content: center;
  align-items: center;
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
  body {
    padding: 5vh;
    margin: 0;
    background-color: black;
    display: flex;

    justify-content: center;
    align-items: center;
  }

  p {
    position: absolute;
    transform: translate(-50%);
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Quicksand;
  }

  #poseText {
    top: 55vh;
    left: 50%;
  }

  button {
    background-color: black;
    display: inline-block;
    border-radius: 8px;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid gray;
    color: white;
    font-size: 20px;
    font-family: Quicksand;
    display: block;
  }

  button:hover{
    background-color: crimson;
    color:white;
  }

  #backButton {
    top: 65vh;
    left: 50%;
  }

  #takePhotoButton {
    top: 70vh;
    left: 50%;
  }

  #confirmButton {
    top: 75vh;
    left: 50%;
  }

  #retakePhotoButton {
    top: 70vh;
    left: 50%;
  }

  #sendButton {
    top: 65%;
    left: 50%;
  }

}
