body {
  padding: 5vh;
  margin: 0;
  background-color: black;
}

#canvas {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50vh;
  left: 50%;
}

p {
  margin-top: 3vh;
  padding: 3vh;
  padding-right: 3vw;
  position: absolute;
  text-align: left;
  color: white;
  font-size: 15px;
  font-family: Quicksand;
  top: 80vh;
}


h1 {
  margin: 0;
  padding: 3vh;
  padding-right: 3vw;
  position: absolute;
  text-align: left;
  color: #e79754;
  font-size: 20px;
  font-family: Quicksand;
  /* Quicksand */
}

button {
  background-color: black;
  display: inline-block;
  border-radius: 8px;
  position: absolute;
  transform: translate(3vh, 95vh);
  text-align: center;
  border: 2px solid gray;
  color: white;
  font-size: 20px;
  font-family: Quicksand;
  display: block;
}

button:hover{
  background-color: crimson;
  border: 2px solid crimson;
  color:white;
}

/* @media screen and (min-width: 1081px) {
  p {
    padding-right: 80vw;
    top: 10vh;
  }

  h1 {
    padding-right: 75vw;
  }
} */

@media (min-aspect-ratio: 5/5) {
  p {
    padding-right: 80vw;
    top: 10vh;
  }

  h1 {
    padding-right: 75vw;
  }

  button {
    transform: translate(3vh, 80vh);
  }
}
